/input/documents/*
.DS_Store
/.idea/*
src/datasetpreprocessing/.idea/workspace.xml

*.iml

src/datasetpreprocessing/.idea/misc.xml

src/datasetpreprocessing/.idea/DatasetPreprocessing.iml

src/reranker/.idea/misc.xml

src/reranker/.idea/modules.xml

src/reranker/.idea/workspace.xml

src/content_selection/__pycache__/similarity.cpython-36.pyc

src/content_selection/__pycache__/similarity.cpython-36.pyc

src/entitybasedreranker/.idea/misc.xml

src/entitybasedreranker/.idea/modules.xml

src/entitybasedreranker/.idea/workspace.xml

src/entitybasedreranker/stanford-parser-3.7.0-models.jar
